footer {
    background-color: #3e8155; /* Dark green background */
    color: #ffffff; /* White text for readability */
    padding: 60px 0; /* More padding for a larger footer */
    font-family: Arial, sans-serif; /* Consistent font family */
    max-width: 100%;
}

footer .container {
    display: flex;
    justify-content: space-around; /* Adjusted for better spacing */
    align-items: start;
    flex-wrap: wrap;
    margin: auto;
}

.footer-links, .footer-info, .email-subscribe, .social-media {
    margin: 0 20px; /* Increased spacing between columns */
    flex: 1;
    min-width: 200px; /* Adjusted minimum width */
}

.footer-links ul, .footer-info, .email-subscribe form, .social-media {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
    text-align: center; /* Center align text */
}

.footer-links ul li, .footer-info p, .social-media a {
    margin-bottom: 10px;
    color: #fff;
}

.footer-links ul li a, .social-media a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover, .social-media a:hover {
    color: #9cbd4b;
}

.email-subscribe form {
    display: flex;
    justify-content: center; /* Centered form */
}

.email-input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

button {
    background-color: #9cbd4b;
    color: #222;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #88a83e;
    color: white;
}

.social-media a i {
    font-size: 20px;
    margin-right: 10px; /* Added spacing to the right of icons */
}

@media (max-width: 768px) {
    footer .container {
        flex-direction: column;
        align-items: center;
    }

    .footer-links, .footer-info, .email-subscribe, .social-media {
        flex: none;
        max-width: 300px;
        margin: 10px 0;
    }

    .email-subscribe form {
        flex-direction: column;
    }

    .email-input {
        margin: 0 0 10px 0;
    }
}
