<footer>
	<div class="container">
		<div class="footer-links">
			<ul>
				<li><a href="#">Accueil</a></li>
				<li><a href="#">Produits</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
		<div class="footer-info">
			<p><i class="fas fa-map-marker-alt"></i> Avenue ouled haffouz beb lkhadra</p>
			<p><i class="fas fa-phone-alt"></i> Tel: 70020300</p>
			<p><i class="fas fa-fax"></i> Fax: 71324147</p>
			<p><i class="far fa-envelope"></i> Email: {{email}} </p>
		</div>

		<div class="email-subscribe">
			<form>
				<input type="email" class="email-input" placeholder="Entrez votre e-mail">
				<button type="submit" style="color:white;background-color: black;">S'abonner</button>
			</form>
		</div>
		<div class="social-media">
			<a href="#"><i class="fab fa-facebook"></i></a>
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
		</div>
	</div>
</footer>