<section class="values">
    <div class="container">
        <h2>Pourquoi nous choisir</h2> <!-- Titre au-dessus des icônes -->
        <p class="subtext">mutuelle, engage, responsable et citoyenne</p> <!-- Texte en dessous des icônes -->
        <div class="value">
            <div class="icon-container">
                <i class="fa-solid fa-hand-holding-heart"></i>
            </div>
            <p>Service de qualité</p>
        </div>
        <div class="value">
            <div class="icon-container">
                <i class="fa-solid fa-map-location-dot"></i>
            </div>
            <p>Proximité</p>
        </div>
        <div class="value">
            <div class="icon-container">
                <i class="fas fa-users"></i>
            </div>
            <p>Plus humaine</p>
        </div>
        <div class="value">
            <div class="icon-container">
                <i class="fa-solid fa-file-signature"></i>
            </div>
            <p>Assurance personnalisée</p>
        </div>
    </div>
</section>