<!-- <section class="values">
    <div class="container">
        <h2>Pourquoi nous choisir</h2> 
        <p class="subtext">mutuelle, engage, responsable et citoyenne</p> 
        <div class="value">
            <div class="icon-container">
                <i class="fa-solid fa-hand-holding-heart"></i>
            </div>
            <p>Service de qualité</p>
        </div>
        <div class="value">
            <div class="icon-container">
                <i class="fa-solid fa-map-location-dot"></i>
            </div>
            <p>Proximité</p>
        </div>
        <div class="value">
            <div class="icon-container">
                <i class="fas fa-users"></i>
            </div>
            <p>Plus humaine</p>
        </div>
        <div class="value">
            <div class="icon-container">
                <i class="fa-solid fa-file-signature"></i>
            </div>
            <p>Assurance personnalisée</p>
        </div>
    </div>
</section> -->


<!-- <div class="page-wrapper">
    <div class="container">
        <h2>Pourquoi nous choisir</h2> 
        <p class="subtext">mutuelle, engage, responsable et citoyenne</p>
        <ul class="infographic-cards">
            <li class="color-1">
                <i class="fa-solid fa-hand-holding-heart"></i>
                <h5>Service de qualité</h5>
                <div class="number-box">
                    01
                </div>
            </li>
            <li class="color-2">
                <i class="fa-solid fa-map-location-dot"></i>
                <h5>Proximité</h5>

                <div class="number-box">
                    02
                </div>
            </li>
            <li class="color-3">
                <i class="fas fa-users"></i>
                <h5>Plus humaine</h5>

                <div class="number-box">
                    03
                </div>
            </li>
            <li class="color-4">
                <i class="fa-solid fa-file-signature"></i>
                <h5>Assurance personnalisée</h5>

                <div class="number-box">
                    04
                </div>
            </li>

        </ul>

    </div>
</div> -->

<h1>Pourquoi nous choisir</h1>
<h2>mutuelle, engage, responsable et citoyenne</h2>
<ol>
    <li>
        <div class="icon"><i class="fa-solid fa-hand-holding-heart"></i></div>
        <div class="title">Service de qualité</div>
        <!-- <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div> -->
    </li>
    <li>
        <div class="icon"><i class="fa-solid fa-map-location-dot"></i></div>
        <div class="title">Proximité</div>
        <!-- <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div> -->
    </li>
    <li>
        <div class="icon"><i class="fas fa-users"></i></div>
        <div class="title" >plus <br/> humaine</div>
        <!-- <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div> -->
    </li>
    <li>
        <div class="icon"><i class="fa-solid fa-file-signature"></i></div>
        <div class="title">Assurance personnalisée</div>
        <!-- <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div> -->
    </li>

</ol>