<div class="container-sidebar">
    <div class="sidebar">
        <ul>
            <li><a href="../updateImage" routerLink="../updateImage">photo</a></li>
            <li><a href="../updateInformations" routerLink="../updateInformations">Informations personnelles</a></li>
            <li><a href="../updatePassword" routerLink="../updatePassword">Mot de Passe</a></li>
        </ul>
    </div>
    <!-- Gestion du Mot de Passe Page -->
    <div class="content">
        <div id="gestion-mot-de-passe" class="page">
            <h2>modifier Mot de Passe</h2>
            <div class="containerReclamation">
                <form class="contact-form" *ngIf="!isSuccessful" [formGroup]="form" novalidate>

					<div class="form-group">
						<label for="password">Password</label>
						<div class="password-input">
							<input [(ngModel)]="password" [type]="passwordVisible ? 'text' : 'password'"
								type="password" formControlName="password" required minlength="6"
								[pattern]="passwordPattern"
								title="Password must contain at least one lowercase letter, one uppercase letter, one number, and one special character" />
                                <i class="toggle-password fas" [class.fa-eye]="!passwordVisible"
								[class.fa-eye-slash]="passwordVisible" (click)="togglePasswordVisibility()"></i>
						</div>
						<div style="color: red;"
							*ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)">
							<div style="color: red;" *ngIf="form.controls['password'].errors?.['required']">required
							</div>
							<div style="color: red;" *ngIf="form.controls['password'].errors?.['minlength']">min length
								6
							</div>
							<div style="color: red;" *ngIf="form.controls['password'].errors?.['pattern']">Password must
								contain at least one lowercase letter, one uppercase letter, one number, and one special
								character
							</div>
						</div>

					</div>
					<div class="form-group">
						<label for="confirmPassword">Confirmer le mot de passe</label>
						<div class="password-input">
							<input type="password" [type]="passwordVisible ? 'text' : 'password'"
								formControlName="confirmPassword" required />
                                <i class="toggle-password fas" [class.fa-eye]="!passwordVisible"
								[class.fa-eye-slash]="passwordVisible" (click)="togglePasswordVisibility()"></i>
						</div>
						<div style="color: red;"
							*ngIf="form.controls['confirmPassword'].invalid && (form.controls['confirmPassword'].dirty || form.controls['confirmPassword'].touched)">
							<div style="color: red;" *ngIf="form.controls['confirmPassword'].errors?.['required']">
								required</div>
							<div style="color: red;" *ngIf="form.controls['confirmPassword'].errors?.['mustMatch']">must
								Match
							</div>
						</div>
					</div>
					<button (click)="form.valid && onSubmit()" [disabled]="this.form.invalid"
						type="submit">Envoyer</button>
				</form>
            </div>
        </div>
    </div>
</div>
