.container-sidebar {
    position: relative;
    margin-top: 100px; /* La hauteur du header */
    min-height: calc(100vh - 80px); /* Hauteur totale moins la hauteur du header */
}

.sidebar {
    width: 250px; /* Largeur du sidebar */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #f0f0f0;
    border-radius: 10px; /* Angles arrondis */


}

.content {
    margin-left: 270px; /* Largeur du sidebar + espace */
    padding: 20px;
    flex-grow: 1;
    padding: 20px;
    background-color: #f0f0f0; /* Couleur de fond plus foncée pour le contenu */

}


.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    border-radius: 10px;
    margin-bottom: 10px;
}

.sidebar ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #ddd;
}


.page {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.page h2 {
    margin-bottom: 20px;
}

.page form {
    max-width: 400px;
    margin: 0 auto;
}

.page label {
    display: block;
    margin-bottom: 10px;
}

.page form input[type="text"],
.page input[type="email"],
.page form input[type="password"],
.page input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.page button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.page button:hover {
    background-color: #45a049;
}

.contact {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
    margin-top: 50px; /* Ajoutez de l'espace entre la section de contact et le header */
    margin-bottom: 50px; /* Ajoutez de l'espace entre la section de contact et le footer */
}


.contact .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.contact h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    margin-bottom: 30px;
    color: #32CD32 ;
}

.contact-container {
    display: flex;
    justify-content: space-between; /* Pour aligner l'image et le formulaire sur la même ligne */
    border: 2px solid #32CD32; /* Ajouter une bordure */
    border-radius: 10px; /* Arrondir les coins */
    overflow: hidden; /* Pour éviter que les coins arrondis ne dépassent */
    max-width: 900px; /* Définir la largeur maximale du cadre */
    width:800px;
    margin: 0 auto; /* Pour centrer le cadre horizontalement */
}


.contact-image {
    flex: 0 0 40%; /* Pour que l'image occupe 30% de la largeur */
    display: flex; /* Pour aligner l'image au centre */
    justify-content: center; /* Pour aligner l'image au centre */
    align-items: center; /* Pour aligner l'image au centre */
    overflow: hidden; /* Pour éviter que les coins arrondis ne dépassent */
}

.contact-image img {
    width: 95%; /* Ajustez la taille de l'image selon votre préférence */
    border-radius: 10px; /* Arrondir tous les coins */
}

.contact-form-container {
    flex: 0 0 90%; /* Pour que le formulaire occupe 70% de la largeur */
}

.contact-form {
    padding: 20px; /* Ajouter un remplissage au formulaire */
}


.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="number"],
.form-group input[type="checkbox"],
.form-group textarea {
    width:90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="password"]:focus,
.form-group input[type="number"]:focus,
.form-group input[type="checkbox"]:focus,
.form-group textarea:focus {
    border-color: MediumSeaGreen;
    outline: none;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

button[type="submit"] {
    background-color: #32CD32;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #068e06;
    color: white;
}

.password-input-container {
    position: relative;
}

.password-input {
    position: relative;
}

.password-input input[type="password"],
.password-input input[type="text"],
.password-input input[type="email"],
.password-input input[type="number"]
 {
    padding-right: 40px; /* Ajoutez de l'espace à droite pour l'icône */
}

.password-input i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
}

.password-input i:hover {
    color: #666;
}
