<div class="container-sidebar">
    <div class="sidebar">
        <ul>
            <li><a href="../updateImage" routerLink="../updateImage">photo</a></li>
            <li><a href="../updateInformations" routerLink="../updateInformations">Informations personnelles</a></li>
            <li><a href="../updatePassword" routerLink="../updatePassword">Mot de Passe</a></li>
        </ul>
    </div>
    <!-- Gestion du Mot de Passe Page -->
    <div class="content">
        <div id="gestion-mot-de-passe" class="page">
            <h2>modifier Mot de Passe</h2>
            <form>
                <label for="ancien-mot-de-passe">Ancien Mot de Passe :</label>
                <input type="password" id="ancien-mot-de-passe" name="ancien-mot-de-passe">
                <label for="nouveau-mot-de-passe">Nouveau Mot de Passe :</label>
                <input type="password" id="nouveau-mot-de-passe" name="nouveau-mot-de-passe">
                <button type="submit">Enregistrer</button>
            </form>
        </div>
    </div>
</div>