
<section id="content">
    <main>
        <h1 class="title">Dashboard</h1>
        <ul class="breadcrumbs">
            <li><a href="#">Home</a></li>
            <li class="divider">/</li>
            <li><a href="#" class="active">Dashboard</a></li>
        </ul>
        <div class="info-data">
            <div class="card">
                <div class="head">
                    <div>
                        <h2>{{users}}</h2>
                        <p>Users</p>
                    </div>
                    <i class="bi bi-people-fill"></i>
                </div>
                <!-- <span class="progress" data-value="40%"></span>
                <span class="label">40%</span> -->
            </div>
            <div class="card">
                <div class="head">
                    <div>
                        <h2>{{contrats}}</h2>
                        <p>Contrats</p>
                    </div>
                    <i class="bi bi-file-text-fill"></i>
                </div>
                <!-- <span class="progress" data-value="60%"></span>
                <span class="label">60%</span> -->
            </div>
            <div class="card">
                <div class="head">
                    <div>
                        <h2>25</h2>
                        <p>produits</p>
                    </div>
                    <i class="bi bi-briefcase-fill"></i>
                </div>
                <!-- <span class="progress" data-value="30%"></span>
                <span class="label">30%</span> -->
            </div>
            <div class="card">
                <div class="head">
                    <div>
                        <h2>20</h2>
                        <p>reclamation</p>
                    </div>
                    <i class="bi bi-envelope-exclamation-fill"></i>
                </div>
                <!-- <span class="progress" data-value="80%"></span>
                <span class="label">80%</span> -->
            </div>
        </div>
        <div class="data">
            <div class="content-data">
                <!-- <div class="head">
                    <h3>Sales Report</h3>
                    <div class="menu">
                        <i class='bx bx-dots-horizontal-rounded icon'></i>
                        <ul class="menu-link">
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Save</a></li>
                            <li><a href="#">Remove</a></li>
                        </ul>
                    </div>
                </div> -->
                <!-- <canvas class="chart" id="mychart"></canvas> -->
                <div class="chart">
                    <div class="containerListe">
                        <h1>Contrats par branche</h1>
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>libelle branche</th>
                                        <th>Pourcentage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let contrat of tab" [class.paiement-possible]="!contrat.paye">
                                        <td>{{contrat.branche.libelleBranche}}</td>
                                        <td>{{contrat.count}}%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="content-data">
               <!-- <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" chartType="doughnut">
        </canvas>-->
            </div>
        </div>
    </main>
</section>
<!-- MAIN -->
<!-- NAVBAR -->