<div class="container-sidebar">
  <div class="sidebar" [class.collapsed]="isSidebarCollapsed" id="sidebar">
    <ul>
      <li><a href="/contrat" routerLink="/contrat/{{id}}">Mes contrats</a></li>
      <li><a href="/reclamation" routerLink="/reclamation">Reclamation</a></li>
    </ul>
  </div>

  <div class="content" [class.collapsed]="isSidebarCollapsed">
    <button class="toggle-btn" (click)="toggleSidebar()">☰</button>
    <div class="page">
      <div class="containerListe">
        <h1>Mes Contrats</h1>
        <div class="card-container">
          <div class="card" *ngFor="let contrat of contrats">
            <div class="card-header">{{ contrat.branche.libelleBranche }}</div>
            <div class="card-body">
              <p><strong>Date d'effet:</strong> {{ contrat.date_effet | date: 'short' }}</p>
              <p><strong>Date fin d'effet:</strong> {{ contrat.date_fin_effet | date: 'short' }}</p>
              <p><strong>Prix:</strong> {{ contrat.prix }}</p>
              <p><strong>Date de paiement:</strong> {{ contrat.date_paiement | date: 'short' }}</p>
              <p><strong>Référencement:</strong> {{ contrat.referencement }}</p>
              <p><strong>Statut de paiement:</strong> <span [class.paye]="contrat.paye" [class.non-paye]="!contrat.paye">{{ contrat.paye ? 'payé' : 'non payé' }}</span></p>
              <div class="card-actions">
                <button *ngIf="!isExpired(contrat.date_fin_effet) && !contrat.paye" (click)="payForContrat(contrat.id)">Pay</button>
                <button *ngIf="needsRenewal(contrat)" (click)="renewContract(contrat.id)">Renew</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

