<div class="container-sidebar">

    <div class="sidebar">
        <ul>
            <li><a href="/contrat" routerLink="/contrat/{{id}}">mes contrats</a></li>
            <li><a href="/reclamation" routerLink="/reclamation">Reclamation</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="page">
            <div class="containerListe">
                <h1>Mes Contrats</h1>
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Num Contrat</th>
                                <th>Code Branche</th>
                                <th>Libelle Branche</th>
                                <th>Date d'effet</th>
                                <th>Date fin d'effet</th>
                                <th>Prix</th>
                                <th>Date de paiement</th>
                                <th>Référencement</th>
                                <th>Statut de paiement</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let contrat of contrats">
                                <td>{{contrat.numContrat}}</td>
                                <td>{{contrat.branche.codeBranche}}</td>
                                <td>{{contrat.branche.libelleBranche}}</td>
                                <td>{{contrat.date_effet}}</td>
                                <td>{{contrat.date_fin_effet}}</td>
                                <td>{{contrat.prix}}</td>
                                <td>{{contrat.date_paiement}}</td>
                                <td>{{contrat.referencement}}</td>
                                <td>
                                    {{ contrat.paye ? 'payé' : 'non payé' }}
                                </td>
                            </tr>



                            <!-- Ajoutez d'autres lignes de contrats ici si nécessaire -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <tr>
                            <td>Automobile</td>
                            <td>12/10/2024</td>
                            <td>15/11/2025</td>
                            <td>1500</td>
                            <td>10/10/2024</td>
                            <td>ABC123</td>
                            <td class="non-paye">Non</td>
                        </tr>
                        <tr>
                            <td>Darek</td>
                            <td>18/9/2024</td>
                            <td>22/12/2025</td>
                            <td>2500</td>
                            <td>17/9/2024</td>
                            <td>ABD999</td>
                            <td class="paye">Payé</td>
                        </tr> -->