<section class="contact">
	<div class="container">
	  <div class="contact-container">
		<div class="contact-form-container">
		  <h2>Changer Mot de Passe</h2>
		  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isSuccessful" novalidate>
			<div class="form-group">
			  <label for="num">Num adherent</label>
			  <input type="text" pInputText formControlName="num"/>
			  <small *ngIf="form.get('num')?.invalid && form.get('num')?.touched" style="color: red;">
				<small *ngIf="form.get('num')?.errors?.['required']">Num adherent est requis.</small>
				<small *ngIf="form.get('num')?.errors?.['minlength'] || form.get('num')?.errors?.['maxlength']">
				  Num adherent doit être exactement 9 caractères.
				</small>
			  </small>
			</div>
			<div class="form-group">
			  <label for="password">Password</label>
			  <input type="password" pInputText formControlName="password"/>
			  <small *ngIf="form.get('password')?.invalid && form.get('password')?.touched" style="color: red;">
				<small *ngIf="form.get('password')?.errors?.['required']">Mot de passe est requis.</small>
				<small *ngIf="form.get('password')?.errors?.['minlength']">
				  Mot de passe doit contenir au moins 6 caractères.
				</small>
			  </small>
			</div>
			<div class="form-group">
			  <label for="confirmPassword">Confirmer le mot de passe</label>
			  <input type="password" pInputText formControlName="confirmPassword"/>
			  <small *ngIf="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched" style="color: red;">
				<small *ngIf="form.get('confirmPassword')?.errors?.['required']">La confirmation du mot de passe est requise.</small>
				<small *ngIf="form.errors?.['mismatch']">
				  Les mots de passe ne correspondent pas.
				</small>
			  </small>
			</div>
			<button type="submit" pButton label="Envoyer" styleClass="ui-button-primary"></button>
		  </form>
		</div>
	  </div>
	</div>
  </section>
