<section class="contact">
	<div class="container">
		<div class="contact-container">

			<div class="contact-form-container">
				<h2>changer mot de Passe</h2>


				<form class="contact-form" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()"
					#f="ngForm" novalidate>

					<div class="form-group">
						<label for="num">Num adherent</label>
						<input type="text" name="num" [(ngModel)]="form.num" required minlength="9" maxlength="9"
							#num="ngModel" />
						<div class="alert-danger" *ngIf="f.submitted && num.invalid">
						</div>
					</div>


					<div class="form-group">
						<label for="password">Password</label> <input type="password" name="password"
							[(ngModel)]="form.password" required minlength="6" #password="ngModel" />
						<div class="alert-danger" *ngIf="f.submitted && password.invalid">
							<!-- <div *ngIf="password.errors.required">Password is required</div>
			<div *ngIf="password.errors.minlength">Password must be at least 6 characters</div> -->
						</div>
					</div>



					<button type="submit">Envoyer</button>


				</form>

			</div>
		</div>
	</div>
</section>