* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.contact-info, .contact-links {
    display: flex;
    gap: 20px;
}

.contact-info span, .contact-links span {
    white-space: nowrap;
    font-size: 0.9rem;
}

header {
    background-color: #ffffff;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1010;
    border-bottom: 3px solid #3e8155;
   
}

nav {
    flex-grow: 1;
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: #3e8155;
    font-weight: bold;
    display: block;
    line-height: 70px; /* Align text vertically */
}

nav ul li a:hover {
    color: grey;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
