<section class="products">
    <h2>Nos Produits</h2>
    <div class="container">
        <div class="card">
            <i class="fas fa-heart"></i>
            <a href="produit" routerLink="../produit"><h3>Santé</h3></a>
            <p>Description du produit santé </p>
        </div>
        <div class="card">
            <i class="fas fa-plane"></i>
            <a href="produit" routerLink="../produit"> <h3>Voyage</h3> </a>
            <p>Description du produit voyage </p>
        </div>
        <div class="card">
            <i class="fas fa-car"></i>
            <a href="produit" routerLink="../produit"><h3>Voiture</h3></a>
            <p>Description du produit voiture...</p>
        </div>
        <div class="card">
            <i class="fas fa-graduation-cap"></i>
            <a href="produit" routerLink="../produit"><h3>Scolarité</h3></a>
            <p>Description du produit scolarité </p>
        </div>
        <div class="card">
            <i class="fa-solid fa-house"></i>
            <a href="produit" routerLink="../produit"><h3>maison</h3></a>
            <p>Description du produit maison...</p>
        </div>
        <div class="card">
            <i class="fa-solid fa-house"></i>
            <h3>maison</h3>
            <p>Description du produit maison...</p>
        </div>
        <div class="card">
            <i class="fa-solid fa-house"></i>
            <h3>maison</h3>
            <p>Description du produit maison...</p>
        </div>
        <div class="card">
            <i class="fa-solid fa-house"></i>
            <h3>maison</h3>
            <p>Description du produit maison...</p>
        </div>
    </div>
</section>