<!-- <section class="products">
    <h2>Nos Produits</h2>
    <div class="container">
        <div class="card">
            <i class="fas fa-heart"></i>
            <a href="produit" routerLink="../produit"><h3>Santé</h3></a>
            <p>Description du produit santé </p>
        </div>
        <div class="card">
            <i class="fas fa-plane"></i>
            <a href="produit" routerLink="../produit"> <h3>Voyage</h3> </a>
            <p>Description du produit voyage </p>
        </div>
        <div class="card">
            <i class="fas fa-car"></i>
            <a href="produit" routerLink="../produit"><h3>Voiture</h3></a>
            <p>Description du produit voiture...</p>
        </div>
        <div class="card">
            <i class="fas fa-graduation-cap"></i>
            <a href="produit" routerLink="../produit"><h3>Scolarité</h3></a>
            <p>Description du produit scolarité </p>
        </div>
        <div class="card">
            <i class="fa-solid fa-house"></i>
            <a href="produit" routerLink="../produit"><h3>maison</h3></a>
            <p>Description du produit maison...</p>
        </div>
        <div class="card">
            <i class="fa-solid fa-house"></i>
            <h3>maison</h3>
            <p>Description du produit maison...</p>
        </div>
        <div class="card">
            <i class="fa-solid fa-house"></i>
            <h3>maison</h3>
            <p>Description du produit maison...</p>
        </div>
        <div class="card">
            <i class="fa-solid fa-house"></i>
            <h3>maison</h3>
            <p>Description du produit maison...</p>
        </div>
    </div>
</section> -->

<!-- ADVERTISERS SERVICE CARD -->
<section id="advertisers" class="advertisers-service-sec pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="section-header text-center">
          <h2 class="fw-bold fs-1">
            Nos
            <span class="b-class-secondary">MAE </span>Produits
          </h2>
          <p class="sec-icon"><i class="fa-solid fa-gear"></i></p>
        </div>
      </div>
      <div class="row mt-5 mt-md-4 row-cols-1 row-cols-sm-1 row-cols-md-3 justify-content-center">
        <div class="col">
          <div class="service-card">
            <div class="icon-wrapper">
              <i class="fas fa-heart"></i>
            </div>
           <a href="produit" routerLink="../produit"><h3>Sante</h3></a>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Quisquam consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div class="col">
          <div class="service-card">
            <div class="icon-wrapper">
              <i class="fa-solid fa-house"></i>
            </div>
            <a href="produit" routerLink="../produit"><h3>Maison</h3></a>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Quisquam consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div class="col">
          <div class="service-card">
            <div class="icon-wrapper">
              <i class="fas fa-graduation-cap"></i>
            </div>
            <a href="produit" routerLink="../produit"><h3>Scolarité</h3></a>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Quisquam consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div class="col">
          <div class="service-card">
            <div class="icon-wrapper">
              <i class="fa-solid fa-money-check-dollar"></i>
            </div>
            <h3>Flexible pricing models</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Quisquam consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div class="col">
          <div class="service-card">
            <div class="icon-wrapper">
              <i class="fa-regular fa-circle-check"></i>
            </div>
            <a href="produit" routerLink="../produit"><h3>Tracking Lead</h3></a>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Quisquam consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div class="col">
          <div class="service-card">
            <div class="icon-wrapper">
              <i class="fa-solid fa-people-group"></i>
            </div>
            <a href="produit" routerLink="../produit"><h3>Tracking Lead</h3></a>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Quisquam consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ADVERTISERS SERVICE CARD ENDED -->