<div class="container-sidebar">
    <div class="sidebar">
        <ul>
            <li><a href="../updateImage" routerLink="../updateImage">photo</a></li>
            <li><a href="../updateInformations" routerLink="../updateInformations">Informations personnelles</a></li>
            <li><a href="../updatePassword" routerLink="../updatePassword">Mot de Passe</a></li>
        </ul>
    </div>
    <div class="content">

        <!-- Gestion des Informations Page -->
        <div id="gestion-informations" class="page">
            <h2>modifier vos données</h2>
            <div class="containerReclamation">
                <form (ngSubmit)="onSubmit(produitForm)" #produitForm="ngForm" >
                    <div>
                        <label for="nometprenom">Nom:</label>
                        <input type="text" id="nom" name="nom"
                            [(ngModel)]="user.displayName" required>
                    </div>
                    <div>
                        <label for="telephone">email:</label>
                        <input type="email" id="email" name="email" [(ngModel)]="user.email"
                            required>
                    </div>
                    <div>
                        <label for="sujet">address:</label>
                        <input type="text" id="address" name="address" [(ngModel)]="user.address" required>
                    </div>

                    <div>
                        <label for="sex">Sex :</label>
                        <select id="sex" name="sex" [(ngModel)]="user.sex" required>
                            <option value="">Choisissez votre sex :</option>
                            <option value="Homme">Homme</option>
                            <option value="Femme">Femme</option>
                        </select>
                    </div>

                    <div>
                        <label for="date">Date Naissance:</label>
                        <input type="date" id="date" name="date" [(ngModel)]="user.birth_date" required>
                    </div>


                    <div>
                        <button type="submit">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
