<div class="container-sidebar">
    <div class="sidebar">
        <ul>
            <li><a href="../updateImage" routerLink="../updateImage">photo</a></li>
            <li><a href="../updateInformations" routerLink="../updateInformations">Informations personnelles</a></li>
            <li><a href="../updatePassword" routerLink="../updatePassword">Mot de Passe</a></li>
        </ul>
    </div>
    <div class="content">

        <!-- Gestion des Informations Page -->
        <div id="gestion-informations" class="page">
            <h2>modifier vos données</h2>
            <form>
                <label for="nom">Nom :</label>
                <input type="text" id="nom" name="nom">
                <label for="prenom">Prénom :</label>
                <input type="text" id="prenom" name="prenom">
                <label for="tel">Téléphone :</label>
                <input type="text" id="tel" name="tel">
                <label for="adresse">Adresse :</label>
                <input type="text" id="adresse" name="adresse">
                <label for="email">Email :</label>
                <input type="email" id="email" name="email">
                <button type="submit">Enregistrer</button>
            </form>
        </div>
    </div>
</div>