<div class="container-sidebar">
    <div class="sidebar">
        <ul>
            <li><a href="../updateImage" routerLink="../updateImage">photo</a></li>
            <li><a href="../updateInformations" routerLink="../updateInformations">Informations personnelles</a></li>
            <li><a href="../updatePassword" routerLink="../updatePassword">Mot de Passe</a></li>
        </ul>
    </div>
    <div class="content">
        <!-- Gestion d'Image Page -->
        <div id="gestion-image" class="page">
            <h2>modifier photo</h2>
            <form>
                <label for="image-upload">Choisir une image :</label>
                <input type="file" id="image-upload" name="image-upload">
                <button type="submit">Enregistrer</button>
            </form>
        </div>
    </div>
</div>