<!-- NAVBAR -->
<section id="content">
    <!-- MAIN -->
    <main>
        <h1 class="title">Dashboard</h1>
        <ul class="breadcrumbs">
            <li><a href="#">{{title}}</a></li>
            <li class="divider">/</li>
            <li><a href="#" class="active">Dashboard</a></li>
        </ul>

        <div class="data">
            <div class="content-data">
                <div class="page">
                    <div class="containerReclamation">
                        <h2>{{title}}</h2>
                        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && add()" #f="ngForm"
                            novalidate>

                            <label for="text">Code Branche</label>
                            <div>
                                <input type="text" name="code" [(ngModel)]="branche.codeBranche" required minlength="6"
                                    #code="ngModel" />
                                <div class="alert-danger" *ngIf="f.submitted && code.invalid">
                                    <div style="color: red;" *ngIf="code.errors?.['required']">Code branche is
                                        required</div>
                                    <div style="color: red;" *ngIf="code.errors?.['minlength']">code must be at
                                        least 6
                                        characters</div>
                                </div>
                            </div>


                            <label for="libelle">libelle Branche</label>
                            <div>
                                <input type="text" name="libelle" [(ngModel)]="branche.libelleBranche" required
                                    #libelle="ngModel" />
                                <div class="alert-danger" *ngIf="f.submitted && libelle.invalid">
                                    <div *ngIf="f.submitted && libelle.invalid">
                                        <div style="color: red;" *ngIf="libelle.errors?.['required']">libelle is
                                            required
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <button type="submit">Envoyer</button>


                        </form>

                    </div>
                </div>
            </div>
        </div>

    </main>
</section>
