<section class="contact">
	<div class="container">
	  <div class="contact-container">
		<div class="contact-form-container">
		  <h4>Entrez vos identifiants pour vérifier votre identité.</h4>
		  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isSuccessful" novalidate>
			<div class="form-group">
			  <label for="email">Email</label>
			  <input type="email" pInputText formControlName="email" />
			  <div *ngIf="form.get('email')?.touched && form.get('email')?.errors">
				<div style="color: red;" *ngIf="form.get('email')?.errors?.['required']">Email est requis</div>
				<div style="color: red;" *ngIf="form.get('email')?.errors?.['email']">Email doit etre une valide adresse email</div>
			  </div>
			</div>
			<div class="form-group">
			  <label for="cin">CIN</label>
			  <input type="text" pInputText formControlName="cin" />
			  <div *ngIf="form.get('cin')?.touched && form.get('cin')?.errors">
				<div style="color: red;" *ngIf="form.get('cin')?.errors?.['required']">CIN est requis</div>
				<div style="color: red;" *ngIf="form.get('cin')?.errors?.['minlength'] || form.get('cin')?.errors?.['maxlength']">CIN doit avoir 8 nombres seulement</div>
			  </div>
			</div>
			<button type="submit" pButton label="Envoyer" styleClass="ui-button-primary"></button>
		  </form>
		</div>
	  </div>
	</div>
  </section>
  