<section class="contact">
	<div class="container">
		<div class="contact-container">

			
			<div class="contact-form-container">
				<h2>Verification</h2>

				<form class="contact-form" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()"
					#f="ngForm" novalidate>
					<div class="form-group">
						<label for="email">Email</label> <input type="email" name="email" [(ngModel)]="form.email"
							required email #email="ngModel" />
						<div *ngIf="f.submitted && email.invalid">
							<div style="color: red;" *ngIf="email.errors?.['required']">Email is required</div>
					        <div style="color: red;" *ngIf="email.errors?.['email']">Email must be a valid email address</div> 
						</div>
					</div>

					<div class="form-group">
						<label for="cin">CIN</label> <input type="number" name="cin" [(ngModel)]="form.cin" required
							minlength="8" maxlength="8" #cin="ngModel" />
						<div class="alert-danger" *ngIf="f.submitted && cin.invalid">
							 <div style="color: red;" *ngIf="cin.errors?.['required']">CIN is required</div>
							 <div style="color: red;" *ngIf="cin.errors?.['minlength']">Num must be at least 8
								characters</div>
							<div style="color: red;" *ngIf="cin.errors?.['maxlength']">Num must be at most 8
								characters</div>						</div>
					</div>


					<button type="submit">Envoyer</button>

					
				</form>

			</div>
		</div>
	</div>

</section>