<div class="container">
    <img src="../../assets/img/produits-assurance-en-france.jpg" alt="Image du produit">
    <h1>PREVOYANCE</h1>
    <p class="description">Découvrir nos services de Prévoyance</p>
    <div class="content">
        <p>Vous souhaitez préserver l’avenir et la sécurité financière de votre famille ? Avec notre produit
            PREVOYANCE : Quoi qu’il arrive, votre famille est à l’abri de tout risque.
            Le contrat d’assurance prévoyance prévoit le versement d’un capital ou d’une rente aux
            bénéficiaires suite à un décès prématuré ou en cas d’invalidité absolue et définitive. En cas
            de décès accidentel, le capital garanti sera doublé.
            Pour une protection maximale, vous pouvez opter pour : Une rente éducation qui assure le
            versement d’une rente au bénéfice de vos enfants, pour autant qu’ils n’aient pas atteint la
            majorité. La garantie invalidité vous permet de maintenir votre niveau de vie, en cas
            d’invalidité permanente partielle ou totale suite à un accident.
            Le contrat d’assurance « PREVOYANCE » se distingue par :
            Sa simplicité : Libre choix du montant du capital ou de la rente, selon vos besoins et votre
            situation professionnelle.
            Une grande souplesse : Libre choix des garanties optionnelles selon votre situation.
            Une fiscalité avantageuse : Le capital est exonéré d'impôts sur le revenu et versé en dehors des
            règles de succession.
            Les cotisations versées sont exonérées de la Taxe Unique d’Assurance. La rente viagère est
            exonérée de l’impôt sur le revenu.
        </p>
    </div>

</div>