<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">Découvrir nos services de {{produit.nom}}</span>
                        <h2>{{produit.titre}}</h2>
                    </div>
                    <div class="text">{{produit.description}}</div>

                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">

                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img
                                [src]="getSafeImage(produit.image)" alt=""></a></figure>

                </div>
            </div>

        </div>
        <div class="sec-title">
            <span class="title">services {{produit.nom}}</span>
            <h2>Description</h2>
        </div>
        <div class="text">
            {{produit.contenu}}
        </div>
        <!-- <div class="text">
            Pour une protection maximale, vous pouvez opter pour : Une rente éducation qui assure le
            versement d’une rente au bénéfice de vos enfants, pour autant qu’ils n’aient pas atteint la
            majorité. La garantie invalidité vous permet de maintenir votre niveau de vie, en cas
            d’invalidité permanente partielle ou totale suite à un accident.
                    </div>
           <div class="text">
            Le contrat d’assurance « PREVOYANCE » se distingue par :
            Sa simplicité : Libre choix du montant du capital ou de la rente, selon vos besoins et votre
            situation professionnelle.
                      </div>
           <div class="text">
            Une grande souplesse : Libre choix des garanties optionnelles selon votre situation.
            Une fiscalité avantageuse : Le capital est exonéré d'impôts sur le revenu et versé en dehors des
            règles de succession.
                  </div>
           <div class="text">

            Les cotisations versées sont exonérées de la Taxe Unique d’Assurance. La rente viagère est
            exonérée de l’impôt sur le revenu.
         </div> -->
    </div>
</section>
